# Variables de entorno (¡MUY IMPORTANTE!)
.env
.env.local
.env.production

# Dependencias
node_modules/

# Archivos subidos por usuarios
subidas/

# Logs
*.log
logs/

# Sistema operativo
.DS_Store
Thumbs.db